h1 {
    border: 3px solid blue;
    background-color: #ffe0f7;
    color: blue;
    padding: 10px;
}

h2 {
    border-left: 5px solid red;
    padding-left: 5px;
}

p {
    color: green;
    line-height:1.5
}