p {
  color: navy;
}

.intro {
  font-size: small;
  background-color: #dfdfdf;
}

h1 {
  color: white;
  text-shadow: 2px 2px navy;
}

h2 {
  font-family: cursive;
  color: #3f3faf;
  background: linear-gradient(0.25turn,white, #ffefaf);
}

#zentai {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#zentai > div {
  background-color: #ffefaf;
  height: 200px;
  padding: 5px;
  position: relative;
}

img.sign {
	float:right;
}